<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dialist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dialist">
        <activity
            android:name=".AddNewPage"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".delete_email_enter_password"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Really_Delete_email"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PasswordReset"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".First"
            android:exported="false" />
        <activity
            android:name=".Store"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>